# Environment variables
.env

# Python / uv / Django
__pycache__/
*.py[cod]
.venv/
*.sqlite3
backend/media/
backend/staticfiles/

# Node / Vite
node_modules/
frontend/dist/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Testing
.pytest_cache/
.coverage
API.txt
bin/
build/
mobile/build/
mobile/android/build/
# APK releases
*.apk
